<div class="navbar">
  <h4>Mocktail Macker</h4>
</div>
<div class="modelCustom" *ngIf="overlayDisplay">
    <p-progressBar mode="indeterminate" [style]="{'height': '6px', 'backgroundColor':'#147ebc', 'border':0}"></p-progressBar>
</div>


<div class="slideNav visible-xs (only) = d-block d-sm-none">
  <app-recommended-items-slide></app-recommended-items-slide>
</div>
<div class="row">
  <div class="col-md-6 col-12 visible-xs (only) = d-block d-sm-none glassComponent-xs">
      <app-glass [selectedOptions]="selectedOptions" (resetOptionsToRecipe)="optionsReset($event)" (preLoader)="preLoader($event)"></app-glass>
  </div>
    <div class="col-md-3 col-12 recipe-items">
      <main>
       <app-recipe-items  [resetOptionsFromGlass]="resetOptionsFromGlass" (selectedOptionsToGlass)="optionsChange($event)"></app-recipe-items>
      </main>
  </div>
  
  <div class="col-md-6 col-12 hidden-xs (only) = d-none d-sm-block glassComponent">
    <app-glass [selectedOptions]="selectedOptions" (resetOptionsToRecipe)="optionsReset($event)" (preLoader)="preLoader($event)"></app-glass>
  </div>
  
    <div class="col-md-3 col-6 hidden-xs (only) = d-none d-sm-block">
      <main>
        <app-recommended-items></app-recommended-items>
      </main>
    </div>
</div>