<div class="main-headings right-heading" (click)="closeAllTabs()">
  <h4>Recommended</h4>
</div>
<div class="accordian animated fadeInUp">
  <p-accordion [activeIndex]="index" (onOpen)="onTabOpen($event)">
    <p-accordionTab header="Godfather I">
      The story begins as Don Vito Corleone
    </p-accordionTab>
    <p-accordionTab header="Godfather II">
      Francis Ford Coppola's legendary
    </p-accordionTab>
    <p-accordionTab header="Godfather III">
      After a break of more than 15 years,
    </p-accordionTab>
    <p-accordionTab header="Godfather I">
      The story begins as Don Vito Corleone
    </p-accordionTab>
    <p-accordionTab header="Godfather II">
      Francis Ford Coppola's legendary
    </p-accordionTab>
    <p-accordionTab header="Godfather II">
      Francis Ford Coppola's legendary
    </p-accordionTab>
  </p-accordion>
</div>